
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 70.5rem;
}.frame-1-fWM {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #25282e;
  width: 100%;
  overflow: hidden;

  .group-1-qp9 {
    width: 100%;
    height: 18.8rem;
    display: flex;
    align-items: flex-end;
    background-color: #1f2227;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 14.4rem 6rem 1.9rem 8.5rem;

    .fut-mo-6n1 {
      white-space: nowrap;
      display: flex;
      align-items: baseline;
      margin-right: 27rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      font-size: 2rem;
      flex-shrink: 0;

      .fut-mo-6n1-sub-0 {
      }
      .fut-mo-6n1-sub-1 {
        font-weight: 400;
        line-height: 1.2125;
        color: #f55e5e;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2rem;
      }
      .fut-mo-6n1-sub-2 {
      }
    }
    .home-vgV {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 3rem 0.3rem 0rem;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.2125;
    }
    .project-BMX {
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 3rem 0.3rem 0rem;
    }
    .leaderboard-3uX {
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 3rem 0.3rem 0rem;
    }
    .arai-LNq {
      font-size: 1.3rem;
      text-decoration-line: underline;
      color: #f55e5e;
      font-family: Inter, 'Source Sans Pro';
      margin-bottom: 0.6rem;
      font-weight: 400;
      line-height: 1.2125;
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-l8fo-mj3 {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 6.4rem 2.7rem 6.1rem 5.9rem;

    .auto-group-ntch-PkR {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .auto-group-8j41-inh {
        width: 34.8rem;
        border-bottom: solid 0.2rem #f55e5e;
        flex-shrink: 0;
        margin-right: 25.9rem;
        box-sizing: border-box;
        padding-bottom: 0.4rem;

        .hell-zVK {
          margin-bottom: 11.5rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          border-radius: 0.8rem;

          .hello-im-a-front-end-developer-v85 {
            flex-shrink: 0;
            margin: 0rem 0rem 0.9rem 0.4rem;
            max-width: 34.4rem;
            font-size: 3rem;
            font-weight: 400;
            line-height: 1;
            color: #ffffff;
            font-family: Anonymous Pro, 'Source Sans Pro';
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ibf {
            line-height: 1;
            color: #ffffff;
            font-family: Anonymous Pro, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 0rem 1.3rem 0.4rem;
            max-width: 24.3rem;
            font-size: 1.2rem;
            font-weight: 400;
          }
          .auto-group-6akx-HHP {
            line-height: 1;
            letter-spacing: 0.253rem;
            display: flex;
            border-radius: 0.8rem;
            width: 16.5rem;
            font-size: 1.1rem;
            flex-shrink: 0;
            font-weight: 400;
            color: #ffffff;
            white-space: nowrap;
            background-color: rgba(245, 94, 94, 0.6999999881);
            height: 3.2rem;
            text-align: center;
            font-family: Anonymous Pro, 'Source Sans Pro';
            align-items: center;
            justify-content: center;
          }
        }
        .service-2uB {
          font-family: Anonymous Pro, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.1rem;
          letter-spacing: 0.253rem;
          font-weight: 400;
          line-height: 1;
          color: #ffffff;
          width: 100%;
          text-align: center;
        }
        .project-portofolio-jHo {
          letter-spacing: 0.28rem;
          white-space: nowrap;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #f55e5e;
          font-family: Inter, 'Source Sans Pro';
          margin-bottom: 0.2rem;
          width: 100%;
          text-align: center;
        }
      }
      .auto-group-itb7-Pt9 {
        width: 1.2rem;
        height: 41.1rem;
        position: relative;
        flex-shrink: 0;
        margin-top: 3rem;

        .line-4-vt5 {
          top: 1.1rem;
          object-fit: contain;
          vertical-align: top;
          width: 0;
          height: 40rem;
          position: absolute;
          left: 0.6rem;
        }
        .ellipse-1-SrR {
          background-color: #f55e5e;
          border-radius: 0.6rem;
          width: 1.2rem;
          height: 1.2rem;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
    .ellipse-3-ZAM {
      border: solid 0.1rem #f55e5e;
      box-sizing: border-box;
      background-color: rgba(255, 255, 255, 0);
      border-radius: 0.6rem;
      flex-shrink: 0;
      margin: 0rem 0rem 0rem 60.7rem;
      width: 1.2rem;
      height: 1.2rem;
    }
    .auto-group-keyb-exV {
      flex-shrink: 0;
      margin: 0rem 0rem 0.5rem 0.4rem;
      width: calc(100% - 0.4rem);
      height: 30.8rem;
      display: flex;
      align-items: flex-end;

      .auto-group-mgqv-BBj {
        margin: 0rem 35rem 0.6rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .connect-with-me--K33 {
          flex-shrink: 0;
          font-size: 3rem;
          font-weight: 400;
          line-height: 1;
          letter-spacing: -0.15rem;
          font-family: Anonymous Pro, 'Source Sans Pro';
          margin-bottom: 1.5rem;
          color: #f55e5e;
          white-space: nowrap;
        }
        .auto-group-qs8m-S7f {
          font-family: Anonymous Pro, 'Source Sans Pro';
          flex-shrink: 0;
          box-sizing: border-box;
          width: 23.1rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1;
          padding: 0.5rem 0.7rem 0.4rem 0.7rem;
          color: #d9d9d9;
          white-space: nowrap;
          background-color: #202327;
        }
      }
      .auto-group-9yev-WNR {
        width: 1.2rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .line-2-4Pw {
          width: 0;
          height: 29.7027rem;
          position: absolute;
          left: 0.6rem;
          top: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .ellipse-2-n53 {
          height: 1.2rem;
          position: absolute;
          top: 29.6rem;
          box-sizing: border-box;
          border-radius: 0.6rem;
          width: 1.2rem;
          left: 0;
          border: solid 0.1rem #f55e5e;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: rgba(217, 217, 217, 0);
        }
      }
    }
    .auto-group-otff-EBw {
      font-family: Anonymous Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 38rem 1.1rem 0rem;
      padding: 0.5rem 0.7rem 0.4rem 0.7rem;
      width: 23.1rem;
      line-height: 1;
      color: #d9d9d9;
      background-color: #202327;
      box-sizing: border-box;
      font-size: 1.2rem;
      font-weight: 400;
    }
    .auto-group-rdyw-V7s {
      background-color: #f55e5e;
      flex-shrink: 0;
      margin: 0rem 38.4rem 0rem 16.5rem;
      box-sizing: border-box;
      padding: 0.4rem 0.25rem 0.4rem 0.7rem;
      width: calc(100% - 54.9rem);
      display: flex;
      align-items: center;

      .stay-connected-PDF {
        font-weight: 400;
        line-height: 1;
        color: #050505;
        flex-shrink: 0;
        margin-right: 2.5rem;
        font-size: 0.5rem;
        letter-spacing: -0.025rem;
        font-family: Anonymous Pro, 'Source Sans Pro';
        white-space: nowrap;
      }
      .arrow-1-7Q9 {
        margin-top: 0.1rem;
        width: 0.05rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
